html, input, button{
  font-family: 'Inter', sans-serif;
}

body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.form-container{
  width: 400px;
}

.form-div{
  margin-bottom: 10px;
}

input{
  display: block;
  width: 91%;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom:10cpx;
}

button{
  margin-top: 20px;
  width: 100%;
  padding: 10px 15px;
  background-color: rebeccapurple;
  border: none;
  color: white;
  text-transform: uppercase;
}

/* h1{
  font-size: 18px;
}

h2, label, p, input, button{
  font-size: 14px;
} */

.critical {
  color: red;
}

.success{
  color: green;
  font-weight: bold;
  border:1px solid green;
  background-color: lightblue;
}