@page
@model SignUpModel
@{
    ViewData["Title"] = "Sign up success";
}

<div class="form-container">
    <h1>Thanks for signing up.</h1>
    <p>
        An email has been sent to you.<br>
        Kindly confirm your subscription.
    </p>
</div>