@page
@model SignUpModel
@{
    ViewData["Title"] = "Sign up";
}


<div class="form-container">
    <h1>Sign up for our monthly newsletter</h1>
    <p>Join our monthly newsletter to start recieving updates about our products.
    </p>

    <div>
        <form method="post">
            <div class="form-div">
                <label>Full Name:</label>
                <input asp-for="ContactInfo.FullName" required/>
            </div>
            <div>
                <label>Email:</label>
                <input asp-for="ContactInfo.Email" type="email" required/>
            </div>

            <button type="submit">Sign up</button>
        </form>
    </div>
</div>