@page
@model UploadModel
@{
    ViewData["Title"] = "Upload Newsletter Issue";
}

<div class="form-container">
    <h1>Send Newsletter</h1>
    <p>Upload the Newsletter file</p>
    @if (Model.ErrorMessage != null)
    {
        <p class="critical">
            @Model.ErrorMessage
        </p>
    }

    @if (Model.SuccessMessage != null)
    {
        <p class="success">
            @Model.SuccessMessage
        </p>
    }
    <div>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label>Email Subject</label>
                <input type="text" asp-for="NewsletterViewModel.EmailSubject" required />
            </div>
            @* Suggestion: add sendAt field to capture date time to schedule the newsletter issue at *@
            <div>
                <label>Newsletter</label>
                <input type="file" asp-for="NewsletterViewModel.Newsletter" required />
            </div>

            <button type="submit">Upload</button>
        </form>
    </div>
</div>